* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $primaryColor;
}

header {
  width: $total_100;
  height: 70px;
  background-color: $blackColor;
  margin-bottom: 60px;
}

.container {
  width: $size_80;
  margin: auto;
}





.logo {
  width: 65px;
  text-align: center;
  vertical-align: middle;
}

.selection_album {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  color: $whiteColor;
  text-align: center;

}

.album {
  width: 200px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.poster {
  width: 198px;
  height: 198px;
}
