* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $primaryColor;
}

//general container
.container {
  width: $size_80;
  margin: auto;
}

//header
header {
  width: $total_100;
  height: 60px;
  padding: 10px 220px;
  background-color: $blackColor;
  .logo {
    width: 65px;
    text-align: center;
    vertical-align: middle;
  }
}

//main--

.selection_album {
  display: flex;
  justify-content: space-around;
  padding : 80px 150px;
  flex-wrap: wrap;
  //margin: auto;
  color: $whiteColor;
  text-align: center;
  .album {
    width: 200px;
    height: 200px;
    background-color: $blackColor;
    margin-bottom: 50px;
    padding: 10px;
    .poster {
      width: 100px;
      //height: 198px;
    }
  }
}
