.container {
  width: $total_100;
  height: 40px;
  background-color: $blackColor;
  margin: auto;
  margin-bottom: 10px;
}

.logo {
  width: 65px;
  text-align: center;
  vertical-align: middle;
}
