//palette page

$primaryColor : darken(#fff, 45); //darkgrey for body
$artistColor : #6b6b6b;
$blackColor : #000000; // black for header and background album
$whiteColor : #ffffff; // white color

//typo
$fontSizeBase: 14px;


//size

$total_100 : 100%; // 100% size
$size_80 : 80% // 80% size
